In [1]:
import pandas as pd
import numpy as np

In [2]:
nine_tine = pd.read_csv('D2019.csv', encoding='utf-8', delimiter=';', header=None)

In [3]:
nine_tine.head()

,0,1,2,3,4,5,6,7,8,9
0,2019/01/01,19:00:00,Singapore,Low Volatility Expected,GDP ...,Worse Than Expected,%,1.6,2.9,evised From 3.0
1,2019/01/01,19:00:00,Singapore,Low Volatility Expected,GDP ...,Worse Than Expected,%,2.2,2.7,evised From 2.2
2,2019/01/01,19:30:00,South Korea,Low Volatility Expected,Nikkei Manufacturing PMI ...,NaN,NaN,49.8,NaN,48.60
3,2019/01/01,19:30:00,Singapore,Low Volatility Expected,URA Property Index ...,NaN,%,-0.1,NaN,-0.10
4,2019/01/01,20:45:00,China,High Volatility Expected,Caixin Manufacturing PMI ...,Worse Than Expected,NaN,49.7,50.3,50.20

In [4]:
nine_tine = nine_tine.rename(columns={0:'date', 1:'time', 2:'loca', 3:'exp_vol', 4:'event', 5:'pred_acc', 6:'unit_used', 7:'act_data', 8:'forc_data', 9:'prev_data'})

In [5]:
loca_few = pd.DataFrame(sorted(nine_tine.set_index('loca').groupby('loca')))

In [11]:
loca_few[1].iloc[1].count()

date         280
time         280
exp_vol      280
event        280
pred_acc     109
unit_used    220
act_data     247
forc_data    109
prev_data    250
dtype: int64